/* /////// Overall layout /////// */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

#wrapper {
  min-height: 100vh;
  display: grid;
  grid-template: auto 1em auto;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: lightskyblue;
}

main {
  grid-area: main;
  background-color: lightcyan;
}

nav,
aside {
  background: lightpink;
}

#navigation {
  grid-area: nav;
  width: 200px;
}

aside {
  grid-area: aside;
  width: 200px;
}

footer {
  grid-area: footer;
  background-color: lightblue;
}

/* ///  Mobile and tablet  version/// */

@media only screen and (min-width: 220px) and (max-width: 720px) {
  #wrapper {
    grid-template-rows: 1fr 1fr auto 1fr 1fr;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "main main main"
      "aside aside aside"
      "footer footer footer";
  }

  #navigation {
    width: 100%;
  }

  aside {
    width: 100%;
  }
}
