/* /////// Overall layout /////// */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

header {
  background-color: lightskyblue;
}

main {
  background-color: lightcyan;
}

nav,
aside {
  background: lightpink;
}

footer {
  background-color: lightblue;
}

#wrapper {
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
